*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #333;
}
#header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    width: 100%;
    top: 0;
    .nav-links{
        display: flex;
        justify-content: space-around;
    }
}
#showcase{
    background-image: url("https://tesla-cdn.thron.com/delivery/public/image/tesla/c82315a6-ac99-464a-a753-c26bc0fb647d/bvlatuR/std/1200x628/lhd-model-3-social");
    height: 100vh;  
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 0;
    .title{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 20vh;
    }
    .btn{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
    .btn1{
        background: #333;
        color: white;
    }
}
img{
    width: 100%;
}
button{
    padding: 1em 3em;
    border-radius: 30px;
    border: none;
    margin: 2em;
    
}